body {
  background: radial-gradient(circle, #E2DDD8, white 60%);
  
  color: black;
	  font-family: 'Didot', 'Optima', 'Palatino', 'Bookman', 'Work Sans','Montserrat','Lora',"Geneva","Times New Roman", Times, serif;
}

.image{
    float: left;
    padding-top: 3%;
    width: 40%
}

.image img {
  width: 100%;
  max-width: 400px;
}

.side{
     float: left; 
     width: 55%;
     padding-right: 5%;
}

.main{
    height: 70%;
    padding-top: 5%;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.title{
    color: black;
}

p {
    color: black;
}

@media only screen and (max-width: 700px) {

  .side {
    float: none;
    width: 100%;
    margin-top: 220px;
  }

  .image {
    position: absolute;
    top: 0px;
    width: 60%;
  }

  .image img {
    height: 200px;
    max-width: 200px;
  }

  .main h1 {
    text-align: center;
  }

} 
